*{
    font-family: sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family:custom;
    src: url(Custom-font/lion_king.ttf);
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
    margin-left: 1rem;
}

.logo:hover {
    color: #ff6347; /* Optional hover effect */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #00000023;
    color: #000000; /* Optional hover effect */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #000000;
    font-size: 2.4em;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 1rem;
}

.menu-icon::before {
    content: '☰';
}

.menu-toggle:hover {
    color: #ff6347; /* Optional hover effect */
}

/* landing */

.page1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2vw;
    padding-left: 5vw;
  }
  .left h1 {
    font-size: 5vw;
  }
  .left p {
    margin-top: 2%;
    font-size: 1.3vw;
  }
  .left button {
    margin-top: 3%;
    width: 30%;
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    font-size: 1.5vw;
    border-radius: 10px;
    padding: 1vw 1.5vw;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .left button::before {
    content: "Explore";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 100%;
    border-radius: 50%;
    left: 0;
    transition: 0.5s;
  }
  .left button:hover::before {
    top: 0;
    border-radius: 0%;
  }
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2vw;
  }
  .right img {
    z-index: -3;
  }

/* CSS */
.button-42 {
    background-color: initial;
    background-image: linear-gradient(to right bottom, #db7c00, #ffc400);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #ffffff;
    width: 1rem;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    margin-right: 1rem;
  }
  
  .button-42:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        align-items: start;
    }
    
    .nav-links.active {
        display: flex;
    }
    
    .menu-toggle {
        display: block;
        position: absolute;
        top: 0.1rem;
        right: 1rem;
        z-index: 10;
    }

    .button-42{
        width: 7rem;
    }
}
/* Products CSS */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');


.page2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-con {
    min-height: 100%;
    padding: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:0.3rem;
    justify-content: center;
  }
  
  .card {
    border:1px solid black;
    position: static;
    width: 20rem;
    background-color: #18171725;
    backdrop-filter: blur(50px);
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.2s;
    scale: 1;
  }
  .card img {
    width: 100%;
    object-fit: cover;
  }
  
  .card:hover {
    scale: 1.02;
    filter: none;
  }
  
  .card h2 {
    margin: 0.5vw 0 0 0.5rem;
    text-transform: capitalize;
    font-weight: lighter;
    color: #000;
  }
  
  #price{
    margin: 0 0 0 0.6rem;
  }

  .bttn {
    padding: 0.5vw 2vw;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    margin-bottom: 0.5rem;
  }
  .bttn::before {
    content: "Add to cart";
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.5s;
  }
  .bttn:hover::before {
    top: 0;
    border-radius: 0%;
  }

.show{
    display: flex;
    flex-direction: column;
}

#modal {
    position: absolute;
    top: 1rem;
    z-index: 12;
    display: none; /* Hide by default */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: #ffffff;
    margin: 20px;
}

.show {
    display: flex !important; /* Show modal when class is added */
}


.container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    transition: .3s linear;
    border-radius: 0.5rem;
}

.container .imgBx:before {
    content: 'Nike';
    position: absolute;
    top: 0px;
    left: 24px;
    color: #000;
    opacity: 0.2;
    font-size: 8em;
    font-weight: 800;
}

.container .imgBx img {
    position: relative;
    height:600px;
    width: 600px;
    object-fit: cover;
    left: -50px;
    transition: .9s linear;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
}

.container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.container .details p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
}

.container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}
.container .details button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
    transition: 0.35s;
}

.product-colors span {
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

#black {
    background: #000;
}

#red {
    background: #D5212E;
}

#orange {
    background: #F18557;
}

.product-colors .active:after{
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
    transition: 0.35s;
}

.buy-now:hover{
    opacity: 0.7;
    transform: scale(1.10);
}

.buy-now:active{
    opacity: 0.5;
    background-color: gray;
}

/* responsive */
@media (max-width: 1080px) {
    .container {
        height: auto;
    }
    .container .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .container .imgBx img {
        left: initial;
        max-width: 100%;
    }
    .details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .container .details p {
        margin-left: 0;
        max-width: 100%;
    }
}

/* Footer CSS */
.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 50px 20px;
    font-size: 14px;
    position: relative;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin: 0 20px;
  }
  
  .footer-section h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .footer-section p {
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #535353;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-media {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .social-media li {
    margin-right: 15px;
  }
  
  .social-icon {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .newsletter-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: #000000;
    cursor: pointer;
  }
  
  .newsletter-form button:hover {
    background-color: #e67e22;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px 0;
    height: 3.8rem;
    background-color: #ffffff;
    font-size: 12px;
    position: absolute;
    color: #000;
    bottom: 0;
    right: 0;
    left: 0;
  }
